<div id="intro" class="grid_4">
  <h2><%= image_tag 'icons/plus.png', :size => '25x24', :alt => '', :class => 'plus' %>Search Results</h2>
  <p>There are <%= @search.size %> results for "<%= @query %>"</p>
</div>
<div id="table" class="grid_7 prefix_1">
  <%= image_tag 'icons/arrow.png', :size => '25x24', :alt => '', :class => 'arrow' %>
  <table>
    <colgroup>
      <col class="date" />
      <col class="group" />
      <col class="location" /> 
    </colgroup>
    <thead>
      <tr>
        <th>Date</th>
        <th>Group</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>

    <div class="grid_8">

      <form action="<%= url_for(:controller => '/search', :action => 'index') %>" method="get" id="form_search">
        <!-- <label for="search_query">Search Groups</label> -->
        <input type="text" size="30" id="search_query" name="q" value="<%= @query %>" />
        <button type="submit">Search</button>
      </form>

      <% if @search.empty? %>
      There are no search results for "<%= @query %>".
      <% else %>


        <% for result in @search %>
        <tr>
          <td><%= result.start_time.strftime("%d %b %Y") %></td>
          <td><%= link_to result.group.name, result.group %></td>
          <td><%= link_to result.location.name, result.location %></td>
          <!-- <td><%# result.location.address %></td> -->
          <!-- <td><%# truncate(result.description, :length => 75) %></td> -->
        </tr>
        <%- end -%>
      </table>
      <br />
      <%= will_paginate @search %>
      <%- end -%>
    </div>
  </div>
</div>
<div id="recommended" class="grid_4">
  <%#= render :partial => 'group_recommendations' %>
  <%#= render :partial => 'location_recommendations' %>
</div>