<h1>Editing groups</h1>

<% form_for(@groups) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @groups %> |
<%= link_to 'Back', groups_path %>
