<h1>Listing groups</h1>

<table>
  <tr>
    <th><%= link_to 'Name', groups_path(:sorted_by => 'name') %></a></th>
    <th><%= link_to 'Location', groups_path(:sorted_by => 'locations.name') %></th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%=h group.name %></td>
    <td><%= group.location.name %>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @groups %>
<br />
<%= link_to 'New group', new_group_path %>
