<div id="intro" class="grid_4">
  <h2><%= image_tag 'icons/plus.png', :size => '25x24', :alt => '', :class => 'plus' %>Add a group</h2>
  <p>Know of another groups of nerds? Fill in the information to the right and we'll immediately add it to Rubyholic.</p>
  <em class="required"><strong>*</strong> All form fields are required</em>
</div>
<div id="form" class="grid_7 prefix_1">
  <%= image_tag 'icons/arrow.png', :size => '25x24', :alt => '', :class => 'arrow' %>
  <% form_for(@group) do |f| %>
    <fieldset>
      <%= f.error_messages %>
      <ol>
        <li>
          <%= f.label :name %>
          <span class="text"><%= f.text_field :name %></span>
        </li>
      </ol>
      <div class="buttons">
        <%= content_tag(:button, 'Create', :class => 'grid_2') %> <%= link_to 'Cancel', groups_path, :class => 'button passive grid_1' %>
      </div>
    </fieldset>
  <% end %>
</div>
