<%- width = local_assigns[:width] || '640' -%>
<%- height = local_assigns[:height] || '480' -%>

<%- content_for :javascript_includes do -%>

<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;sensor=false&amp;key=ABQIAAAAkfx3DAhNRdaCBVzNqW7iPhTJQa0g3IQ9GZqIMmInSLzwtGDKaBQRhG_-xjGuWU3pfxyY_Vlk3PjKZw"
        type="text/javascript"></script>
<script type="text/javascript">

function initialize() {
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map"));
    map.setUIToDefault();
    
    var point = new GLatLng(<%= object.latitude %>, <%= object.longitude %>);
    map.setCenter(point, 15);
    
    var marker = new GMarker(point);
    map.addOverlay(marker);
    
    GEvent.addListener(marker, "click", function() {
      var info = "<%= object.name %>";
      map.openInfoWindowHtml(point, info);
    });
  }
}

</script>

<%- end -%>

<div id="map" style="width: <%= width %>px; height: <%= height %>px"></div>