<%- content_for :javascript_includes do -%>

<%= GMap.header %>

<%= @map.to_html %>

<%- end -%>



<%= @map.div :width => '100%', :height => 480 %>
<div class="placer">
  <div class="container_12">
    <div id="strip" class="grid_4">
      <div class="inner">
        <h1>Rubyholic</h1>
        
        <%# form_tag :controller => "search", :method => 'post' do %>
          <%#= text_field_tag :search %>
          <%#= submit_tag "Go" %>
        <%# end %>
        
        <%#= render :partial => "search/form" %>
        
        <form action="<%= url_for(:controller => '/search', :action => 'index') %>" method="get" id="form_search">
            <label for="search_query">Search Groups</label>
            <input type="text" size="30" id="search_query" name="q" value="Search Groups" />
            <button type="submit">Search</button>
        </form>
        
        <ol id="nearest_events">

        <% for event in @events %>
          <li>
            <h3><%=h event.group.name %></h3>
            <div><%=h event.location.name %></div>
            <div><%=h event.start_time.strftime("%B %d, %Y") %></div>
            <!-- <div><%#h event.end_time %></div> -->
            <!-- <div><%#h event.description %></div> -->
            <div><%= link_to 'Show', event %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></div>
          </li>
        <% end %>

        </ol>
        <%= will_paginate @events %>
      </div>
    </div>
    <div id="content" class="grid_8">
      <%= link_to 'New event', new_event_path %>
      <p>IP: <%= request.remote_ip %></p>
      <p>Location Data: <%= @location.join(" ").to_s %></p>
    </div>
  </div>
</div>