<%- content_for :javascript_includes do -%>
<%= GMap.header :host => request.headers["SERVER_NAME"] %>
<%= @map.to_html %>
<%- end -%>

<div id="gutter">
  <div class="container_12">
    <div class="grid_4 prefix_4">
      <form action="<%= url_for(:controller => '/search', :action => 'index') %>" method="get" id="form_search">
        <span class="text">
          <input type="text" size="30" id="search_query" name="q" value="What are you looking for?" onfocus="this.clear()" />
          <div class="buttons"><button type="submit" class="grid_2">Search</button></div>
        </span>
      </form>
    </div>
  </div>
</div>
<%= @map.div :width => '100%', :height => 490 %>
<div class="bg_container">
  <div class="buttons new_event">
    <%= link_to 'Add a New Event', new_event_path, :class => 'button positive' %>
  </div>
  <div class="container_12">
    <div id="strip" class="grid_4">
      <div class="inner">
        <div class="logo">
          <h1><%= link_to 'Rubyholic', events_path %></h1>
        </div>
        <div class="sort">
        <% form_tag '', :method => 'GET' do %> 
        <%= select_tag 'sorted_by', 
                       '<option value="0">Sort By</option>
                        <option value="start_time">Date</option
                        <option value="groups.name">Group</option>
                        <option value="locations.name">Location</option>', 
                       :onchange => 'this.form.submit()' %> 
        <% end %>
        </div>
        <ol>

        <% for event in @events %>
          <li class="event">
            <a href="<%= url_for event %>">
              <h2><%= event.group.name %></h2>
              <h3><%= event.location.name %></h3>
              <div class="date">
                <span class="day"><%=h event.start_time.strftime("%d") %></span>
                <span class="month"><%=h event.start_time.strftime("%b") %></span>
                <span class="year"><%=h event.start_time.strftime("%Y") %></span>
              </div>
            </a>
          </li>
        <% end %>

        </ol>
        <%= will_paginate @events %>        
      </div>
    </div>
    <div id="content" class="grid_8">

      <p>IP: <%= request.remote_ip %></p>
      <p>Location Data: <%= "#{@ip_location[:latitude]}, #{@ip_location[:longitude]}" %></p>
    </div>
  </div>
</div>