<h1>Listing events</h1>

<p><%= request.remote_ip %></p>

<table>
  <tr>
    <th><%= link_to 'Group', events_path(:sorted_by => 'groups.name') %></th>
    <th><%= link_to 'Location', events_path(:sorted_by => 'locations.name') %></th>
    <th><%= link_to 'Start Time', events_path(:sorted_by => 'start_time') %></th>
    <th><%= link_to 'End Time', events_path(:sorted_by => 'end_time') %></th>
    <th>Description</th>
  </tr>
  
<% for event in @events %>
  <tr>
    <td><%=h event.group.name %></td>
    <td><%=h event.location.name %></td>
    <td><%=h event.start_time %></td>
    <td><%=h event.end_time %></td>
    <td><%=h event.description %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>
<br />
<%= will_paginate @events %>
<br />
<%= link_to 'New event', new_event_path %>
