<%- content_for :javascript_includes do -%>
<%#= GMap.header :host => request.headers["SERVER_NAME"] %>
<%#= @map.to_html %>
<%- end -%>

<div id="gutter">
  <%= link_to '<strong>+</strong> Add a New Event', new_event_path %>
</div>
<%= @map.div :width => '100%', :height => 490 %>
<div class="bg_container">
  <div class="container_12">
    <div id="strip" class="grid_4">
      <div class="inner">
        <h1><%= link_to 'Rubyholic', events_path %></h1>
        <% form_tag '', :method => 'GET', :class => 'locale' do %> 
        <%= select_tag 'locale', ['test'], 
        :onchange => 'this.form.submit()' %> 
        <%= submit_tag 'submit' %> 
        <%= javascript_tag "$$('.locale input').each(Element.hide)" %> 
        <% end %>
        <ol id="upcoming_events">

        <% for event in @events %>
          <li>
            <a href="<%= url_for event %>">
              <h3><%= event.group.name %></h3>
              <div class="location"><%= event.location.name %></div>
              <div class="date" align="justify">
                <span class="day"><%=h event.start_time.strftime("%d") %></span>
                <span class="month"><%=h event.start_time.strftime("%b") %></span>
                <span class="year"><%=h event.start_time.strftime("%Y") %></span>
              </div>
              <!-- <div><%#h event.end_time %></div> -->
              <!-- <div><%#h event.description %></div> -->
              <!-- <div><%= link_to 'Show', event %>
              <%= link_to 'Edit', edit_event_path(event) %>
              <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></div> -->
            </a>
          </li>
        <% end %>

        </ol>
        <%= will_paginate @events %>
      </div>
    </div>
    <div id="content" class="grid_8">
      <form action="<%= url_for(:controller => '/search', :action => 'index') %>" method="get" id="form_search">
          <label for="search_query">Search Groups</label>
          <input type="text" size="30" id="search_query" name="q" value="Search Groups" />
          <button type="submit">Search</button>
      </form>
      <p>IP: <%= request.remote_ip %></p>
      <p>Location Data: <%= "#{@ip_location[:latitude]}, #{@ip_location[:longitude]}" %></p>
    </div>
  </div>
</div>