<div id="intro" class="grid_4">
  <h2><%= image_tag 'icons/plus.png', :size => '25x24', :alt => '', :class => 'plus' %>Add an event</h2>
  <p>Know of a meetup that we don't, eh? Thanks for taking the time to make us aware of it. Fill in the information to the right and we'll immediately add it to Rubyholic.</p>
  <em class="required"><strong>*</strong> All form fields are required</em>
</div>
<div id="form" class="grid_7 prefix_1">
  <%= image_tag 'icons/arrow.png', :size => '25x24', :alt => '', :class => 'arrow' %>
  <% form_for(@event) do |f| %>
    <fieldset>
      <%= f.error_messages %>
      <ol>
        <li>
          <%= f.label :group_id %>
          <span class="select"><%= f.select :group_id, Group.find(:all).map { |group| [group.name, group.id] } %></span>
          <%= link_to 'Add a New Group', { :controller => 'groups', :action => 'new' }, :class => 'add' %>
        </li>
        <li>
          <%= f.label :location_id %>
          <span class="select"><%= f.select :location_id, Location.find(:all).map { |location| [location.name, location.id] } %></span>
          <%= link_to 'Add a New Location', { :controller => 'locations', :action => 'new' }, :class => 'add' %>
        </li>
        <!-- <li class="multiple_fields">
          <%# f.label :start_time, 'Starts' %>
          <span class="datetime"><%# calendar_date_select_tag :start_time %></span>
        </li> -->
        <li class="multiple_fields">
          <%= f.label :start_time, 'Starts' %>
          <span class="datetime"><%= f.datetime_select :start_time %></span>
        </li>
        <li class="multiple_fields">
          <%= f.label :end_time, 'Ends' %>
          <span class="datetime"><%= f.datetime_select :end_time %></span>
        </li>
        <li>
          <%= f.label :description %>
          <span class="textarea"><%= f.text_area :description, :size => '30x4' %></span>
        </li>
      </ol>
      <div class="buttons">
        <%= content_tag(:button, 'Create', :class => 'grid_2') %> <%= link_to 'Cancel', events_path, :class => 'button passive grid_1' %>
      </div>
    </fieldset>
  <% end %>
</div>
