<p>
  <b>Group:</b>
  <%=h @event.group.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location.name %>
</p>

<p>
  <b>Start time:</b>
  <%=h @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @event.end_time %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
