<%- content_for :javascript_includes do -%>
<%= GMap.header :host => request.headers["SERVER_NAME"] %>
<%= @map.to_html %>
<%- end -%>

<div id="gutter">
</div>
<%= @map.div :width => '100%', :height => 490 %>
<div class="bg_container">
  <div class="container_12">
    <div id="strip" class="grid_4">
      <div class="inner">
        <div class="logo">
          <h1><%= link_to 'Rubyholic', events_path %></h1>
        </div>
        <div class="event">
          <div class="action">
            <%= link_to 'Edit', edit_event_path(@event), :title => 'Edit this Event', :class => 'edit' %>
          </div>
          <div class="date"><%=h Event.pretty_date(@event.start_time) %></div>
          <h2><%=h @event.group.name %></h2>
          <h3><%=h @event.location.name %></h3>
          <div class="time"><%=h Event.pretty_time(@event.start_time, @event.end_time) %></div>
          <p><%=h @event.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
