<%- content_for :javascript_includes do -%>
<%= GMap.header :host => request.headers["SERVER_NAME"] %>
<%= @map.to_html %>
<%- end -%>

<div id="gutter">
</div>
<%= @map.div :width => '100%', :height => 490 %>
<div class="bg_container">
  <div class="container_12">
    <div id="strip" class="grid_4">
      <div class="inner">
        <div class="logo">
          <h1><%= link_to 'Rubyholic', events_path %></h1>
        </div>
        <div class="event">
          <h3><%=h @event.group.name %></h3>
          <div class="location"><%=h @event.location.name %></div>
          <div class="date" align="justify">
            <span class="day"><%=h @event.start_time.strftime("%d") %></span>
            <span class="month"><%=h @event.start_time.strftime("%b") %></span>
            <span class="year"><%=h @event.start_time.strftime("%Y") %></span>
          </div>
          <p><%=h @event.description %></p>

          <%= link_to 'Edit', edit_event_path(@event) %> |
          <%= link_to 'Back', events_path %>
        </div>
      </div>
    </div>
  </div>
</div>
