<div id="intro" class="grid_4">
  <h2><%= image_tag 'icons/plus.png', :size => '25x24', :alt => '', :class => 'plus' %>Add a Location</h2>
  <p>Know another sweet location? Fill in the information to the right and we'll immediately add it to Rubyholic.</p>
  <em class="required"><strong>*</strong> All form fields are required</em>
</div>
<div id="form" class="grid_7 prefix_1">
  <%= image_tag 'icons/arrow.png', :size => '25x24', :alt => '', :class => 'arrow' %>
  <% form_for(@location) do |f| %>
    <fieldset>
      <%= f.error_messages %>
      <ol>
        <li>
          <%= f.label :name %>
          <span class="text"><%= f.text_field :name %></span>
        </li>
        <li>
          <%= f.label :address %>
          <span class="text">
            <%= f.text_field :address %>
            <em class="helper">Address is automatically geocoded</em>
          </span>
        </li>
        <!-- <li>
          <%= f.label :latitude %>
          <span class="text"><%= f.text_field :latitude %></span>
        </li>
        <li>
          <%= f.label :longitude %>
          <span class="text"><%= f.text_field :longitude %></span>
        </li> -->
      </ol>
      <div class="buttons">
        <%= content_tag(:button, 'Create', :class => 'grid_2') %> <%= link_to 'Cancel', locations_path, :class => 'button passive grid_1' %>
      </div>
    </fieldset>
  <% end %>
</div>