<h1>New location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
    <em class="helper">Address is automatically geocoded</em>
  </p>
  <!-- <p>
    <%# f.label :latitude %><br />
    <%# f.text_field :latitude %>
  </p>
  <p>
    <%# f.label :longitude %><br />
    <%# f.text_field :longitude %>
  </p> -->
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>
