<%- content_for :javascript_includes do -%>
<%= GMap.header :host => request.headers["SERVER_NAME"] %>
<%= @map.to_html %>
<%- end -%>

<div id="gutter">
</div>
<%= @map.div :width => '100%', :height => 490 %>
<div class="bg_container">
  <div class="container_12">
    <div id="strip" class="grid_4">
      <div class="inner">
        <div class="logo">
          <h1><%= link_to 'Rubyholic', events_path %></h1>
        </div>
<div id="" class="grid_4">
    <h2><%=h @location.name %></h2>
    <p><%=h @location.address %></p>
    
    <p>
      <strong>Latitude:</strong> <%=h @location.latitude %><br />
      <strong>Longitude:</strong> <%=h @location.longitude %>
    </p>
    
    <div class="buttons">
      <%= link_to 'Edit', edit_location_path(@location), :class => 'button grid_1' %>
      <%= link_to 'All Locations', locations_path, :class => 'button passive grid_2' %>
    </div>
</div>

