<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Rubyholic</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <%= stylesheet_link_tag 'scaffold', :media => 'all' %>
  <%= stylesheet_link_tag 'reset', :media => 'all' %>
  <%= stylesheet_link_tag '960', :media => 'all' %>
  <%= stylesheet_link_tag 'globals', :media => 'all' %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes 'rubyholic' %>
  <%= yield :javascript_includes %>
</head>
<body class="<%= controller_name %> <%= action_name %>"> 
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>